# Project exclude paths
/.gradle/
/Membangun dan Menjalankan Program Kotlin/Latihan/Latihan 1/build/
/Membangun dan Menjalankan Program Kotlin/Latihan/Latihan 2/build/
/Membangun dan Menjalankan Program Kotlin/Program Pertama Kotlin/Hello Kotlin/build/